@font-face {
  font-family: 'Century Gothic';
  src: url('1105886371.eot'); /* IE9 Compat Modes */
  src: url('1105886371.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('1105886371.woff') format('woff'), /* Modern Browsers */
       url('1105886371.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('1105886371.svg#13db03934b676bad49f0835d401d12db') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url('1152845619.eot'); /* IE9 Compat Modes */
  src: url('1152845619.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('1152845619.woff') format('woff'), /* Modern Browsers */
       url('1152845619.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('1152845619.svg#b1c69dc361959c8748debfb44bd2016f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Zurich Lt BT';
  src: url('1970058885.eot'); /* IE9 Compat Modes */
  src: url('1970058885.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('1970058885.woff') format('woff'), /* Modern Browsers */
       url('1970058885.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('1970058885.svg#264ec39f13fb342d86c4ee62c87a1b1d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Zurich BT';
  src: url('3880307241.eot'); /* IE9 Compat Modes */
  src: url('3880307241.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('3880307241.woff') format('woff'), /* Modern Browsers */
       url('3880307241.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('3880307241.svg#32699c3c14055943d1059adf0b4c2370') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('4055594114.eot'); /* IE9 Compat Modes */
  src: url('4055594114.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('4055594114.woff') format('woff'), /* Modern Browsers */
       url('4055594114.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('4055594114.svg#e8822cb86844068280e5784dfd42de7a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Zurich UBlkEx BT';
  src: url('4523730262.eot'); /* IE9 Compat Modes */
  src: url('4523730262.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('4523730262.woff') format('woff'), /* Modern Browsers */
       url('4523730262.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('4523730262.svg#877fba62d208427a822427c4814f23f3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Futura Lt BT';
  src: url('6474915457.eot'); /* IE9 Compat Modes */
  src: url('6474915457.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('6474915457.woff') format('woff'), /* Modern Browsers */
       url('6474915457.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('6474915457.svg#15b57a1f982e6d8dce9ac317b4c1e102') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('7189740448.eot'); /* IE9 Compat Modes */
  src: url('7189740448.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('7189740448.woff') format('woff'), /* Modern Browsers */
       url('7189740448.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('7189740448.svg#3fc2bee58dbb778cde6c47c8792165c3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Futura LtCn BT';
  src: url('8941081066.eot'); /* IE9 Compat Modes */
  src: url('8941081066.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('8941081066.woff') format('woff'), /* Modern Browsers */
       url('8941081066.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('8941081066.svg#069e3f71076fdda01cec20c7194fb782') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Futura Hv BT';
  src: url('8992225017.eot'); /* IE9 Compat Modes */
  src: url('8992225017.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('8992225017.woff') format('woff'), /* Modern Browsers */
       url('8992225017.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('8992225017.svg#abe28552df67548d04264d76071da393') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Code Bold';
  src: url('CODE Bold.eot'); /* IE9 Compat Modes */
  src: url('CODE Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CODE Bold.woff') format('woff'), /* Modern Browsers */
       url('CODE Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CODE Bold.svg#ddf2a027830884e4f0684fdab3b8518e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Code Light';
  src: url('CODE Light.eot'); /* IE9 Compat Modes */
  src: url('CODE Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CODE Light.woff') format('woff'), /* Modern Browsers */
       url('CODE Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CODE Light.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Intro';
  src: url('Intro.eot'); /* IE9 Compat Modes */
  src: url('Intro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Intro.woff') format('woff'), /* Modern Browsers */
       url('Intro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Intro.svg#1cad35d4b3b9f624f82dbf237daaf188') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Intro Inline';
  src: url('Intro Inline.eot'); /* IE9 Compat Modes */
  src: url('Intro Inline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Intro Inline.woff') format('woff'), /* Modern Browsers */
       url('Intro Inline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Intro Inline.svg#0eb4ba818662c335fd5de0e0ca4c767a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('Nexa Bold.eot'); /* IE9 Compat Modes */
  src: url('Nexa Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Nexa Bold.woff') format('woff'), /* Modern Browsers */
       url('Nexa Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Nexa Bold.svg#7a6e0a27b48926c5216e096daa3e1570') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Nexa Light';
  src: url('Nexa Light.eot'); /* IE9 Compat Modes */
  src: url('Nexa Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Nexa Light.woff') format('woff'), /* Modern Browsers */
       url('Nexa Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Nexa Light.svg#8daeb39b16ba4fbde275db0ba71a5206') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'VWHeadline-Bk';
  src: url('vwheadline-bk-webfont.eot'); /* IE9 Compat Modes */
  src: url('vwheadline-bk-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('vwheadline-bk-webfont.woff') format('woff'), /* Modern Browsers */
       url('vwheadline-bk-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('vwheadline-bk-webfont.svg#da120029abbc20544a28e6b6bee8d297') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'VWHeadline-Blk';
  src: url('vwheadline-blk-webfont.eot'); /* IE9 Compat Modes */
  src: url('vwheadline-blk-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('vwheadline-blk-webfont.woff') format('woff'), /* Modern Browsers */
       url('vwheadline-blk-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('vwheadline-blk-webfont.svg#341de4d7013d5ddf9f1d18ed0ab31818') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Abcdefgk';
  src: url('VWHeadlineOT-Black.eot'); /* IE9 Compat Modes */
  src: url('VWHeadlineOT-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHeadlineOT-Black.woff') format('woff'), /* Modern Browsers */
       url('VWHeadlineOT-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHeadlineOT-Black.svg#50adcf2ffcbb44431d8949d7a6d7f2c6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Abcdefgs';
  src: url('VWHeadlineOT-Semibold.eot'); /* IE9 Compat Modes */
  src: url('VWHeadlineOT-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHeadlineOT-Semibold.woff') format('woff'), /* Modern Browsers */
       url('VWHeadlineOT-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHeadlineOT-Semibold.svg#6a55e908a0e183e6bb7f1947ff11aa91') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

